.container{
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    border: 3px solid black;
    height: 10%;
    padding: 50px;
    text-align: center;
}

#h1{
    text-align: center;
    text-transform: capitalize;
}

/* a:hover {
  color: red;
  text-decoration: none;
}

input:focus {
  background-color: lightyellow;
  border: 2px solid orange;
}

li:first-child {
  font-weight: bold;
}

li:nth-child(odd) {
  background-color: #f2f2f2;
} */
p::first-letter {
  font-size: 2em;
  float: left;
  margin-right: 0.1em;
  color: #333;
}

input::placeholder {
  color: gray;
  font-style: italic;
}

.decorated::before {
  content: "★ ";
  color: gold;
}   

.decorated::after {
  content: " ★";
  color: gold;
}